
<form class="box-listagem__item" (submit)="onFormSubmit()" [formGroup]="requestForm">
    <div class="box-listagem__inner">
        <span *ngIf="!(msg =='')">{{msg}}</span><br />
        <div class="field">
    <span class="field--title">Enter Request Id: </span>
    <div class="simple-input">
        <div class="bordered">
          <div class="simple-input--inner">
    <input class="simple-input" type="text" id="id" formControlName="id">
</div>
</div>
</div>
</div>
    <span *ngIf="requestForm.controls['id'].invalid && requestForm.controls['id'].touched">
        <span *ngIf="requestForm.controls['id'].errors['required']"> Id is Required</span>
        <span *ngIf="requestForm.controls['id'].errors['pattern']">Use the request list to find an Id(Number)</span>
        </span>
    <br /><br />
    <div class="field">
    <span class="field--title">Enter Request Publisher: </span>
    <div class="simple-input">
        <div class="bordered">
          <div class="simple-input--inner">
    <input class="simple-input" type="text" name="publisher" formControlName="publisher">
</div>
</div>
</div>
</div>
    <span *ngIf="requestForm.controls['publisher'].invalid && requestForm.controls['publisher'].touched">
        <span *ngIf="requestForm.controls['publisher'].errors['pattern']">Alphanumerical characters only</span>
        </span>
    <br /><br />
    <div class="field">
        <div class="simple-input">
            <div class="bordered">
              <div class="simple-input--inner">
    <span class="field--title">Enter Request Genre: </span>
    <select class="simple-input" formControlName="genre">
        <option value="Fantasy">Fantasy</option>
        <option value="Adventure">Adventure</option>
        <option value="Romance">Romance</option>
        <option value="Contemporary">Contemporary</option>
        <option value="Dystopian">Dystopian</option>
        <option value="Mystery">Mystery</option>
        <option value="Horror">Horror</option>
        <option value="Thriller">Thriller</option>
        <option value="Paranormal">Paranormal</option>
        <option value="Historical fiction">Historical fiction</option>
        <option value="Science Fiction">Science Fiction</option>
        <option value="Children's">Children's</option>
        <option value="Memoir">Memoir</option>
        <option value="Cookbook">Cookbook</option>
        <option value="Self-help">Self-help</option>
        <option value="Development">Development</option>
        <option value="Motivational">Motivational</option>
        <option value="Health">Health</option>
        <option value="History">History</option>
        <option value="Travel">Travel</option>
        <option value="Guide / How-to">Guide / How-to</option>
        <option value="Families & Relationships">Families & Relationships</option>
        <option value="Humor">Humor</option>
      </select>
    </div>
</div>
</div>
</div>
    <span *ngIf="requestForm.controls['genre'].invalid && requestForm.controls['genre'].touched"></span>
    <br /><br />
    <input class="myButton" type="submit" value="Complete Request" [disabled]="!requestForm.valid">
    <br /><br />
</div>
</form>