<div class="patnavbar">
    <a routerLink="/patdashboard">Dashboard</a> &nbsp;&nbsp;&nbsp;
    <a routerLink="/book">Books</a> &nbsp;&nbsp;&nbsp;
    <a routerLink="/video">Videos</a> &nbsp;&nbsp;&nbsp;
    <a routerLink="/checkedout">Checked Out</a> &nbsp;&nbsp;&nbsp;
    <a routerLink="/fee">Fee</a> &nbsp;&nbsp;&nbsp;
    <a routerLink="/request">Requests</a> &nbsp;&nbsp;&nbsp;
    <a routerLink="/room">Rooms</a> &nbsp;&nbsp;&nbsp;
    <hr>
</div>
<div>
    <router-outlet></router-outlet>
</div>