<div class="patnavbar">
    <a routerLink="/patdashboard">Dashboard</a> &nbsp;&nbsp;&nbsp;
    <a routerLink="/book">View Books</a> &nbsp;&nbsp;&nbsp;
    <a routerLink="/video">View Videos</a> &nbsp;&nbsp;&nbsp;
    <a routerLink="/checkedout">Check Out Books and Videos</a> &nbsp;&nbsp;&nbsp;
    <a routerLink="/fee">Pay Fees</a> &nbsp;&nbsp;&nbsp;
    <a routerLink="/request">Book Requests</a> &nbsp;&nbsp;&nbsp;
    <a routerLink="/room">Room Reservations</a> &nbsp;&nbsp;&nbsp;
    <hr>
</div>
<div>
    <router-outlet></router-outlet>
</div>