<!--<button (click)="showAllRooms()"></button>-->

<br>
<br>
<div *ngIf="roomList!=[]">
    <div *ngFor="let r of roomList">
        Room: {{r.roomNumber}}
        &nbsp;
        Accomodation Capacity: {{r.capacity}}
        &nbsp;
        Number of Presentation Tools: {{r.hasPresenterTools}}
    </div>
</div>
<br>
<form (submit)="showSingleRoom()" [formGroup]="formOne">
    <label>Room Number</label>
    <input type="text" name="rNum" formControlName="rNum">
    <input type="submit" value="show reservation">
</form>
<br>
<br>
<!--<div *ngIf="room==null">
        Room: {{room.roomNumber}}
        &nbsp;
        Accomodation Capacity: {{room.capacity}}
        &nbsp;
        Number of Presentation Tools: {{room.hasPresenterTools}}
</div>
<br>-->