
<div id="conteudo-secao">
    <div class="conteudo-secao-inner">
        <table class="conteudo-secao-boxes">
            <tbody><tr class="conteudo-secao-boxes__line">
                <td class="conteudo-secao-boxes__col">
                    <div class="conteudo-secao-box">
                        <div class="topo-secao">
                            <div class="topo-secao__inner">
                                <a class="checkbox checkbox-select-itens push-left"><i class="fa fa-check"></i></a>
                                    <span class="topo-secao__txt">Update your Profile</span>
                                </div>
                            </div>
                            <div class="body-secao">
                                <div class="box-listagem">
                                <div class="box-listagem__padding">
                                    <div class="profile-section">
                                        <app-profile></app-profile>
                                    </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </td>
                                </tr>
                                </tbody>
                                </table>
                                </div>
                                </div>