
<div class="box-listagem__item">
    <div class="box-listagem__inner">
        <div class="content-section implementation">
        <div class="card flex justify-content-center">
<p-card styleClass="ngx-color" header="Number of Book Requests" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
    <p>{{this.numBookRequests}}</p>
</p-card>
<p-card styleClass="ngx-color" header="Number of Patrons" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
    <p>{{this.numPatrons}}</p>
</p-card>
<p-card styleClass="ngx-color" header="Number of Events" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
    <p>{{this.numEvents}}</p>
</p-card>
<p-card styleClass="ngx-color" header="Number of Unpaid Fees" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
    <p>{{this.totalFees}}</p>
</p-card></div>
</div></div></div>

