<form class="box-listagem__item" (submit)="onFormSubmit()" [formGroup]="profileForm">
    <div class="box-listagem__inner">
        <span *ngIf="!(msg =='')">    {{msg}}</span><br />
    <div class="field">
    <span class="field--title">Enter Name: </span>
    <div class="simple-input">
        <div class="bordered">
            <div class="simple-input--inner">
    <input class="simple-input" type="text" name="name" formControlName="name">
</div>
</div>
</div>
</div>
<span *ngIf="profileForm.controls['name'].invalid && profileForm.controls['name'].touched">
    <span *ngIf="profileForm.controls['name'].errors['pattern']">Alphabetical characters only</span>
    <span *ngIf="profileForm.controls['name'].errors['required']"> Name is Required</span>
    </span>
    <br /><br />
    <div class="field">
        <span class="field--title">Username: </span>
        <div class="simple-input">
            <div class="bordered">
                <div class="simple-input--inner">
    <input class="simple-input" type="text" name="username" formControlName="username">
</div>
</div>
</div>
</div>
<br /><br />
<div class="field">
    <span class="field--title">Card Expiration Date: </span>
    <div class="simple-input">
        <div class="bordered">
            <div class="simple-input--inner">
    <input class="simple-input" type="text" name="cardexpirationdate" formControlName="cardexpirationdate">
</div>
</div>
</div>
</div>
<br /><br />
<div class="field">
    <span class="field--title">Library Card ID: </span>
    <div class="simple-input">
        <div class="bordered">
            <div class="simple-input--inner">
    <input class="simple-input" type="text" name="uid" formControlName="uid">
</div>
</div>
</div>
</div>
<br /><br />
<div class="field">
    <span class="field--title">Enter Security Question: </span>
    <div class="simple-input">
        <div class="bordered">
            <div class="simple-input--inner">
    <input class="simple-input" type="text" name="securityQuestion" formControlName="securityQuestion">
</div>
</div>
</div>
</div>
    <span *ngIf="profileForm.controls['securityQuestion'].invalid && profileForm.controls['securityQuestion'].touched">
        <span *ngIf="profileForm.controls['securityQuestion'].errors['pattern']">Alphanumerical characters only</span>
        <span *ngIf="profileForm.controls['securityQuestion'].errors['required']"> Security Question is Required</span>
        </span>
        <br /><br />
        <div class="field">
    <span class="field--title">Enter Security Answer: </span>
    <div class="simple-input">
        <div class="bordered">
            <div class="simple-input--inner">
    <input class="simple-input" type="text" name="securityAnswer" formControlName="securityAnswer">
</div>
</div>
</div>
</div>
    <span *ngIf="profileForm.controls['securityQuestion'].invalid && profileForm.controls['securityQuestion'].touched">
        <span *ngIf="profileForm.controls['securityQuestion'].errors['pattern']">Alphanumerical characters only</span>
        <span *ngIf="profileForm.controls['securityQuestion'].errors['required']"> Security Answer is Required</span>
        </span>
        <br /><br />
    <input class="myButton" type="submit" value="Update" [disabled]="!profileForm.valid">
    <br /><br />
</div>
</form>
