<form (submit)="showReserve()" [formGroup]="formOne">
    <label>Patron Id</label>
    <input type="text" name="pid" formControlName="pid">
    <input type="submit" value="show reservations">

</form>
<div *ngIf="reservations!=[]">
    <div *ngFor="let r of reservations">
        Room Number: {{r.roomNumber}}
        &nbsp;
        Date: {{r.reservedDate}}
        &nbsp;
        Time: {{r.startTime}}
        &nbsp;
        Duration: {{r.duration}}
        &nbsp;
        Capacity: {{r.capacity}}
    </div>
</div>
