<div class="box-listagem__item">
    <div class="box-listagem__inner">
        <div class="box_listagem__field">
<form (submit)="onFormSubmit()" [formGroup]="requestForm">
        <span *ngIf="!(msg =='')">{{msg}}</span><br />
        <div class="field">
    <span class="field--title">Enter Request Id: </span>
    <div class="simple-input">
        <div class="bordered">
          <div class="simple-input--inner">
    <input class="simple-input" type="text" id="id" formControlName="id">
</div>
</div>
    <span *ngIf="requestForm.controls['id'].invalid && requestForm.controls['id'].touched">
        <span *ngIf="requestForm.controls['id'].errors['required']"> Id is Required</span>
        <span *ngIf="requestForm.controls['id'].errors['pattern']">Use the request list to find an Id(Number)</span>
        </span>
    <br /><br />
    </div>
    <input class="myButton" type="submit" value="Remove Request" [disabled]="!requestForm.valid">
    <br /><br />
</div>
</form>
</div></div>
</div>
