<h1>Sign-Up</h1>
<br /><br />
<form (submit)="onFormSubmit()" [formGroup]="signUpForm">
    <label>Enter Name: </label>
    <input type="text" name="name" formControlName="name">
    <span *ngIf="signUpForm.controls['name'].invalid && signUpForm.controls['name'].touched">
        <span *ngIf="signUpForm.controls['name'].errors['required']">Name is Required</span>
        <span *ngIf="signUpForm.controls['name'].errors['pattern']">Alphabetical Characters Only</span>
        </span>
    <br /><br />
    <label>Enter Username: </label>
    <input type="text" name="username" formControlName="username">
    <span *ngIf="signUpForm.controls['username'].invalid && signUpForm.controls['username'].touched">
        <span *ngIf="signUpForm.controls['username'].errors['required']">Username is Required</span>
        <span *ngIf="signUpForm.controls['username'].errors['pattern']">Username can only contain letters, numbers, or special characters</span>
        </span>
    <br /><br />
    <label>Enter Password: </label>
    <input type="password" name="password" formControlName="password">
    <span *ngIf="signUpForm.controls['password'].invalid && signUpForm.controls['password'].touched">
        <span *ngIf="signUpForm.controls['password'].errors['required']">Password is Required</span>
        <span *ngIf="signUpForm.controls['password'].errors['pattern']">Password can only contain letters, numbers, or special characters</span>
        </span>
    <br /><br />
    <label>Enter Security Question: </label>
    <input type="text" name="securityQuestion" formControlName="securityQuestion">
    <span *ngIf="signUpForm.controls['securityQuestion'].invalid && signUpForm.controls['securityQuestion'].touched">
        <span *ngIf="signUpForm.controls['securityQuestion'].errors['required']">Security Question is Required</span>
        </span>
    <br /><br />
    <label>Enter Security Answer: </label>
    <input type="text" name="securityAnswer" formControlName="securityAnswer">
    <span *ngIf="signUpForm.controls['securityAnswer'].invalid && signUpForm.controls['securityAnswer'].touched">
        <span *ngIf="signUpForm.controls['securityAnswer'].errors['required']">Security Answer is Required</span>
        </span>
    <br /><br />
    <input type="submit" value="Sign-up" [disabled]="!signUpForm.valid">
</form>