<div id="conteudo-secao">
    <div class="conteudo-secao-inner">
        <table class="conteudo-secao-boxes">
            <tbody><tr class="conteudo-secao-boxes__line">
                <td class="conteudo-secao-boxes__col">
                    <div class="conteudo-secao-box">
                        <div class="topo-secao">
                            <div class="topo-secao__inner">
                                    <span class="topo-secao__txt">Library Statistics</span>
                                </div>
                            </div>
                            <div class="body-secao">
                                <div class="box-listagem">
                                <div class="box-listagem__padding">
                                    <div class="chart">
                                        <div class="chart">
<app-chart></app-chart>
<div class="card">
    <app-card></app-card>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>

<p-splitter [style]="{'height': '400px'}">
    <ng-template pTemplate>
        Panel 1
    </ng-template>
    <ng-template pTemplate>
        Panel 2
    </ng-template>
    <ng-template pTemplate>
        Panel 3
    </ng-template>
    <ng-template pTemplate>
        Panel 4
    </ng-template>
</p-splitter>
