.availableBooks{
    width: 350px;
    text-align: center;
    border-style: solid;
    background-color: cyan;
    overflow: auto;
    height: 300px;
    justify-content: center;

}

.availableVideos{
    width: 350px;
    text-align: center;
    border-style: solid;
    background-color: cyan;
    overflow: auto;
    height: 300px;

}

.checkedOutBooks{
    width: 350px;
    text-align: center;
    border-style: solid;
    background-color: darkkhaki;
    overflow: auto;
    height: 300px;
}

.checkedOutVideos{
    width: 350px;
    text-align: center;
    border-style: solid;
    background-color: darkkhaki;
    overflow: auto;
    height: 300px;

}

.leftSection{
    float: left;
    
    
}

.rightSection{
    float:right

  
}