
<div class = 'leftSection'>
    <br />

    <div class = 'check-out-item'>
        <form (submit)="checkOutFormSubmit()" [formGroup]="checkOutForm">
            <label>Enter Item ID: </label>
            <input type="text" name="itemId" formControlName="itemId">
            <span *ngIf="checkOutForm.controls['itemId'].invalid
            && checkOutForm.controls['itemId'].touched">
              <span *ngIf="checkOutForm.controls['itemId'].errors['required']"> Item ID is Required</span>
              <span *ngIf="checkOutForm.controls['itemId'].errors['pattern']"> Item ID must be an integer number</span>
            </span>
            <br />
            <br />
            <label>Select Item Type:</label>
            &nbsp;
            <select name="iType" id="iType" formControlName="iType">
                <option value="book">Book</option>
                <option value="video">Video</option>
            </select>
            <br />
            <br />
            <input type="submit" value="Checkout" [disabled]="!checkOutForm.valid">
        </form>
    </div>
    
    <br />
</div>



<div class = rightSection>
    <br />

    <div class = 'check-in-item'>
        <form (submit)="checkInFormSubmit()" [formGroup]="checkInForm">
            <label>Enter Item ID: </label>
            <input type="text" name="itemId" formControlName="itemId">
            <span *ngIf="checkInForm.controls['itemId'].invalid
            && checkInForm.controls['itemId'].touched">
              <span *ngIf="checkInForm.controls['itemId'].errors['required']"> Item ID is Required</span>
              <span *ngIf="checkInForm.controls['itemId'].errors['pattern']"> Item ID must be a decimal number</span>
            </span>
            <br />
            <br />
            <label>Select Item Type:</label>
            &nbsp;
            <select name="iType" id="iType" formControlName="iType">
                <option value="book">Book</option>
                <option value="video">Video</option>
            </select>
            &nbsp;
            <br />
            <br />
            <input type="submit" value="Check-in" [disabled]="!checkInForm.valid">
        </form>
    </div>
    <br />
</div>

<div id="conteudo-secao">
    
        <table class="conteudo-secao-boxes">
            <tbody>
                <tr class="conteudo-secao-boxes__line">
                    <td class="conteudo-secao-boxes__col">
                        <div class="conteudo-secao-box">
                            <div class="topo-secao">
                                <div class="topo-secao__inner">
                                    <span class="topo-secao__txt">Available Books</span>
                                </div>
                            </div>
                            <div class="body-secao">
                                <div class="box-listagem__padding">
                                    <div class="available-books-list">
                                        <div class="box-listagem__item">
                                            <div class="box-listagem__inner">
                                                <div class="box_listagem__field">
                                                    <app-availablebooks></app-availablebooks>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="conteudo-secao-boxes__line">
                    <td class="conteudo-secao-boxes__col">
                        <div class="conteudo-secao-box">
                            <div class="topo-secao">
                                <div class="topo-secao__inner">
                                    <span class="topo-secao__txt">Available Videos</span>
                                </div>
                            </div>
                            <div class="body-secao">
                                <div class="box-listagem__padding">
                                    <div class="available-videos-list">
                                        <div class="box-listagem__item">
                                            <div class="box-listagem__inner">
                                                <div class="box_listagem__field">
                                                    <app-availablevideos></app-availablevideos>
                                            </div>
                                        </div>
                                    </div>
                                 </div>
                             </div>
                        </div>
                     </div>
                 </td>
             </tr>
         </tbody>
     </table>
</div>

<div id="conteudo-secao">
    
    <table class="conteudo-secao-boxes push-right">
        <tbody>
            <tr class="conteudo-secao-boxes__line">
                <td class="conteudo-secao-boxes__col">
                    <div class="conteudo-secao-box">
                        <div class="topo-secao">
                            <div class="topo-secao__inner">
                                <span class="topo-secao__txt">Checked Out Books</span>
                            </div>
                        </div>
                        <div class="body-secao">
                            <div class="box-listagem__padding">
                                <div class="checked-out-books-list">
                                    <div class="box-listagem__item">
                                        <div class="box-listagem__inner">
                                            <div class="box_listagem__field">
                                                <app-checkedoutbook></app-checkedoutbook>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="conteudo-secao-boxes__line">
                <td class="conteudo-secao-boxes__col">
                    <div class="conteudo-secao-box">
                        <div class="topo-secao">
                            <div class="topo-secao__inner">
                                <span class="topo-secao__txt">Checked Out Videos</span>
                            </div>
                        </div>
                        <div class="body-secao">
                            <div class="box-listagem__padding">
                                <div class="checked-out-videos-list">
                                    <div class="box-listagem__item">
                                        <div class="box-listagem__inner">
                                            <div class="box_listagem__field">
                                                <app-checkedoutvideo></app-checkedoutvideo>
                                        </div>
                                    </div>
                                </div>
                             </div>
                         </div>
                    </div>
                 </div>
             </td>
         </tr>
     </tbody>
 </table>
</div>


    
