<div class="box-listagem__item" *ngFor="let r of requests">
    <div class="box-listagem__inner">
        <div class="box_listagem__field">
            <strong>Request Id: </strong>{{r.id}}
            &nbsp;&nbsp;
            <strong>Title:</strong> {{r.title}}
            &nbsp;&nbsp;
            <strong>Author:</strong> {{r.author}}
            &nbsp;&nbsp;
            <strong>Description:</strong> {{r.description}}
            &nbsp;&nbsp;
            <strong>Patron Id:</strong> {{r.pid}}
            &nbsp;&nbsp;
            <strong>Patron Name:</strong> {{r.pname}}
            &nbsp;&nbsp;
            <strong>Submission Date:</strong> {{r.submissiondate}}
            <hr>
        </div>
    </div>
</div>
<div class="box-listagem__item">
    <span *ngFor="let r of requests | slice:0:1 ;"><strong>{{page + 1}}/{{r.tpages}}</strong></span>&nbsp;
    <a href="Javascript:void" (click)="prev()"><i class="fa fa-chevron-left">Previous</i>&nbsp;</a>&nbsp;
    <a href="Javascript:void" (click)="next()"><i class="fa fa-chevron-right">Next</i>&nbsp;</a>
    
</div>
