<h2>Fee List</h2>
<div id="conteudo-secao">
    <div class="conteudo-secao-inner">
        <table class="conteudo-secao-boxes">
            <tbody>
                <tr class="conteudo-secao-boxes__line">
                    <td class="conteudo-secao-boxes__col">
                        <div class="conteudo-secao-box">
                            <div class="topo-secao">
                                <div class="topo-secao__inner">
                                    <a class="checkbox checkbox-select-itens push-left" href="#"><i
                                            class="fa fa-check"></i></a>
                                    <span class="topo-secao__txt">Fee Management</span>
                                </div>
                            </div>
                            <div class="body-secao">
                                <div class="box-listagem__padding">
                                    <div class="fee-list">
                                        <div class="box-listagem__item">
                                            <div class="box-listagem__inner">
                                                <div class="box_listagem__field">
                                                    <select name="Patrons" id="patronDropdown">
                                                        <option *ngFor="let p of patrons" [value]="p">
                                                            {{p.name}}
                                                            </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>