
<form (submit)="saveRoom()" [formGroup]="saveRoomForm">
    <label>Patron ID</label>
    <input type="number" name="pid" formControlName="pid">
    <br>
    <br>
    <label>Room Number</label>
    <input type="number" name="rNum" formControlName="rNum">
    <br>
    <br>
    <label>Date</label>
    <input type="date" name="strDate" formControlName="strDate">
    <br>
    <br>
    <label>Time</label>
    <input type="string" name="time" formControlName="time">
    <br>
    <br>
    <label>Duration</label>
    <input type="number" name="duration" formControlName="duration">
    <br>
    <br>
    <input type="submit" value="Make Reservation">
</form>
