
<form class="box-listagem__item" (submit)="onFormSubmit()" [formGroup]="requestForm">
    <div class="box-listagem__inner">
    <span *ngIf="!(msg =='')">{{msg}}</span><br />
    <div class="field">
    <span class="field--title">Enter Book Title: </span>
    <div class="simple-input">
        <div class="bordered">
          <div class="simple-input--inner">
    <input class="simple-input" type="text" name="title" formControlName="title">
</div>
</div>
</div>
</div>
    <span *ngIf="requestForm.controls['title'].invalid && requestForm.controls['title'].touched">
        <span *ngIf="requestForm.controls['title'].errors['required']"> Title is Required</span>
        </span>
    <br /><br />
    <div class="field">
    <span class="field--title">Enter Author Name: </span>
    <div class="simple-input">
        <div class="bordered">
          <div class="simple-input--inner">
    <input class="simple-input" type="text" name="author" formControlName="author">
</div>
</div>
</div>
</div>
    <span *ngIf="requestForm.controls['author'].invalid && requestForm.controls['author'].touched">
        <span *ngIf="requestForm.controls['author'].errors['pattern']">Alphabetical characters only</span>
        <span *ngIf="requestForm.controls['author'].errors['required']"> Author is Required</span>
        </span>
    <br /><br />
    <div class="field">
        <span class="field--title">Enter Book Description: </span>
        <div class="simple-input">
            <div class="bordered">
              <div class="simple-input--inner">
    <input class="simple-input" type="text" name="description" formControlName="description">
</div>
</div>
</div>
</div>
    <span *ngIf="requestForm.controls['description'].invalid && requestForm.controls['description'].touched">
        </span>
    <br /><br />
    <input class="myButton" type="submit" value="Submit Request" [disabled]="!requestForm.valid">
    <br /><br />
</div>
</form>